
* {
    text-align: center;
}

body {
    /* margin: 0;
    padding: 0; */
    min-height: 100vh;
    background-color: papayawhip;
}

.container {
    box-shadow: rgba(0, 0, 0, 0.3) 4px 5px 5px;
    border-radius: 3px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 290px;
    margin: 14px auto;
}

h1 {
    padding: 20px;
}

h2 {
    margin: 10px;
    font-weight: normal;
}

h1, p {
    color: blue;
}

p {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}

input{
    width: 87.4%;
    text-align: start;
}

button {
    width: 90%;
}

input, button {
    margin: 7px auto;
    padding: 4px;
    height: 30px;
}

.log-in {
    background-color: blue;
    border: none;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    margin: 20px auto;
}

.log-in:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.7);
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 2px;
    transition: background-color 0.5s, box-shadow 0.5s;
}

.log-in:active {
    background-color: rgb(149, 0, 255);
}

.create {
    background-color: rgb(4, 227, 4);
    border: none;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
}

.create:hover {
    cursor: pointer;
    background-color: rgba(4, 227, 4, 0.7);
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 2px;
    transition: background-color 0.5s, box-shadow 0.5s;
}

.create:active {
    background-color: rgb(0, 255, 179);
}

.footer {
    display: inline-flex;
    margin: 30px auto;
}

.text {
    margin: 7px;
}

.meta {
    margin-bottom: 15px;
}

.text1:hover {
    cursor: pointer;
    opacity: 0.9;
}